# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Basic Root
/README.md
/autorun.multiplatform.sh
/.gitignore

# production
/backend/build
/backend/binary
/backend/binary/server-linux-amd64
/backend/binary/server-linux-arm64
/backend/binary/server-linux-arm
/backend/binary/server-win-amd64
/backend/binary/server-win-arm64

# misc
/backend/.DS_Store
/backend/*.pem

# database
/backend/database.db
/backend/*.db
/backend/*.db*
/backend/*.db-wal
/backend/*.db-shm

# env files (can opt-in for committing if needed)
/backend/.env*
/backend/*.env
/backend/secret
/backend/database

# Logs
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*

# production
/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/*.local

# Editor directories and files
/frontend/.vscode/*
/frontend/!.vscode/extensions.json
/frontend/.idea
/frontend/.DS_Store
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?